/* Override for Material V5 css properties */

:root {
    --md-admonition-icon--info: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: %2376b82a'><path d='M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /></svg>");
    --md-admonition-icon--question: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: %2376b82a'><path d='M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z' /></svg>");
}

/* Header */

.md-header {
  /* background-color: #76b82a;*/
  background-color: #fff;
  color: #545454;
}

/* Tabs */ 
.md-tabs {
  background-color: #F5F5F5;
  color: #545454;
  font-size: 16px;
  overflow:auto
}

.md-tabs__link {
  margin-top: .8rem;
  font-size: .7rem;
  font-weight: bold;
  opacity:.7
}

.md-tabs__link--active, .md-tabs__link:hover{
  color: #76b82a;
  font-weight: bolder;
  opacity:1;
}

/* Search */ 
.md-search__input { 
  background-color:  #fff
}

.md-search__input::placeholder {
  color:#545454;
}

.md-search__input + .md-search__icon {
  color:#545454;
}

/* Content */
.md-typeset img {
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.md-typeset__table {
min-width: 100%;
}

html .md-nav--primary .md-nav__title--site {
position: relative;
background-color: #FFF;
color:#000
}


/* Textlinks */

.md-typeset h1[id] .headerlink:focus, .md-typeset h1[id]:hover .headerlink:hover, .md-typeset h1[id]:target .headerlink {
color:#76b82a;
}

.md-typeset h2[id] .headerlink:focus, .md-typeset h2[id]:hover .headerlink:hover, .md-typeset h2[id]:target .headerlink {
color: #76b82a;
}

.md-typeset h3[id] .headerlink:focus, .md-typeset h3[id]:hover .headerlink:hover, .md-typeset h3[id]:target .headerlink {
color:#76b82a;
}

.md-typeset a:link {
color: #76b82a;
}

.md-typeset a:visited {
color: #76b82a;
}

.md-typeset a:hover, .md-typeset a:focus {
color: #333;

}

.md-typeset a:active {
color: #76b82a;
}

/* Main Navigation - on the left (also the "Tabs" in mobile view - as part of the left navigation) */

.md-nav--primary .md-nav__title[for=__drawer] {
  position: relative;
  color: #545454;
  background-color: #fff
}

.md-nav--primary .md-nav__item--active > .md-nav__link:focus, .md-nav--primary .md-nav__item--active > .md-nav__link:hover {
  color:#76b82a
}

.md-nav--primary .md-nav__item--active > .md-nav__link {
  color:#76b82a
}

.md-nav__link a:link {
color: #76b82a;
}

.md-nav__link a:visited {
color: #76b82a;
}

.md-nav__link:focus, .md-nav__link:hover {
color: #76b82a;
}

.md-nav__item .md-nav__link--active {
color: #76b82a;
}

.md-nav__link--active {
color: #76b82a;
}

/* Footer */

@media screen and (min-width: 45em) {
  .md-footer-copyright {
    width: 100%;
  }
}

.md-footer-nav {
  background-color: #76b82a;
}

.md-footer-meta {
  background-color: #76b82a;
}

.md-footer-copyright {
  max-width: 100%;
  text-align: center;
  float: none;
}

html .md-footer-meta.md-typeset a {
  color:#fff;
}

html .md-footer-meta.md-typeset a:focus, html .md-footer-meta.md-typeset a:hover {
  text-decoration: underline;
}

/* Infobox */
  .md-typeset .admonition.info, .md-typeset .admonition.todo, .md-typeset details.info, .md-typeset details.todo {
  border-left-color:#76b82a;
}

.md-typeset .info > .admonition-title, .md-typeset .info > summary, .md-typeset .todo > .admonition-title, .md-typeset .todo > summary {
  background-color:rgba(35, 212, 0, 0.1)
}
.md-typeset .admonition.question, .md-typeset details.question, .md-typeset .admonition.faq, .md-typeset details.faq, .md-typeset .admonition.help, .md-typeset details.help {
  border-color:#76b82a
}