/* Override for Material V5 css properties */

:root > * {
  
  --md-accent-fg-color:    #76b82a;
  --md-typeset-a-color:    #598A1F;    
  --md-primary-fg-color:   #323232;
}

/* Admonition */
  .md-typeset .admonition.info, .md-typeset .admonition.todo, .md-typeset details.info, .md-typeset details.todo {
  border-left-color:#76b82a;
}

.md-typeset .info > .admonition-title, .md-typeset .info > summary, .md-typeset .todo > .admonition-title, .md-typeset .todo > summary {
  background-color:rgba(35, 212, 0, 0.1)
}
.md-typeset .admonition.question, .md-typeset details.question, .md-typeset .admonition.faq, .md-typeset details.faq, .md-typeset .admonition.help, .md-typeset details.help {
  border-color:#76b82a
}
.md-typeset .question > .admonition-title::before, .md-typeset .question > summary::before {
  background-color: #76b82a
}

.md-typeset .info > .admonition-title::before, .md-typeset .info > summary::before {
  background-color: #76b82a
}
