{% extends "base.html" %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% if page.meta %}
  {% for href in page.meta.extra_css %}
    <link rel="stylesheet" href="{{ href | url }}" >
  {% endfor %}
  {% endif %}
{% endblock %}

{% block footer %}

{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
  {% if page.previous_page or page.next_page %}
    <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer.title') }}">
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url | url }}" class="md-footer__link md-footer__link--prev" rel="prev">
          <div class="md-footer__button md-icon">
            {% include ".icons/material/arrow-left.svg" %}
          </div>
          <div class="md-footer__title">
            <div class="md-ellipsis">
              <span class="md-footer__direction">
                {{ lang.t("footer.previous") }}
              </span>
              {{ page.previous_page.title }}
            </div>
          </div>
        </a>
      {% endif %}
      {% if page.next_page %}
        <a href="{{ page.next_page.url | url }}" class="md-footer__link md-footer__link--next" rel="next">
          <div class="md-footer__title">
            <div class="md-ellipsis">
              <span class="md-footer__direction">
                {{ lang.t("footer.next") }}
              </span>
              {{ page.next_page.title }}
            </div>
          </div>
          <div class="md-footer__button md-icon">
            {% include ".icons/material/arrow-right.svg" %}
          </div>
        </a>
      {% endif %}
    </nav>
  {% endif %}
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        <a href="https://enid.eu" target="_blank" rel="noopener">European netID Foundation</a> | <a href="https://datenschutz.netid.de/netiddev/" target="_blank" rel="noopener">Datenschutzhinweise</a> | <a href="https://enid.eu/partner" target="_blank" rel="noopener">Partner werden</a> | <a href="https://developer.netid.de" target="_blank" rel="noopener">netID Developer Portal</a> 
      </div>
      {% include "partials/social.html" %}
    </div>
  </div>
</footer>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if page.meta %}
  {% for href in page.meta.extra_js %}
    <script src="{{ href | url }}"></script>
  {% endfor %}
  {% endif %}
{% endblock %}
